@import "tailwindcss";

:root {
  --background: #0b1020;
  --foreground: #ffffff;

  --card: rgba(255, 255, 255, 0.06);
  --border: rgba(255, 255, 255, 0.08);

  --primary: #3b82f6;
  --secondary: #8b5cf6;

  --muted: #94a3b8;
}

body {
  background:
    radial-gradient(circle at top left, #172554, #020617);

  color: var(--foreground);
  min-height: 100vh;
}